@import "tailwindcss" source("../..");

@import "../../deps/kindling_ui/assets/css/app.css";

/* This file is for your main application CSS */

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}


input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
}

.pattern-boxes {
background-color: #000000;
opacity: 1;
background-image:  linear-gradient(#151515 1px, transparent 1px), linear-gradient(to right, #151515 1px, #000000 1px);
background-size: 20px 20px;
  box-shadow: inset 0px 0px 40px 20px theme('colors.black');
}

.pattern-dots {
  background-color: #000000;
  opacity: 1;
  background-image:  radial-gradient(theme('colors.zinc.700') 0.5px, transparent 0.5px), radial-gradient(theme('colors.zinc.700') 0.5px, #000000 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  box-shadow: inset 0px 0px 40px 20px theme('colors.black');
}

